.hero{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10% 20% 0% 20%;
    gap: 5%;
    z-index: 100;
}

.glide{
    height: 100vh;
    overflow: hidden;
}

/* .glide__slides::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: var(--azul-70);
} */

.glide__bullets{
    z-index: 1000!important;
}

.glide__bullet{
    width: 100px!important;
    border-radius: 0!important;
}


.hero__title{
    font-size: 2.2em;
    font-weight: 900;
    text-align: center;
}

.hero__images{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero a img{
    width: 100%;
    border: 1px var(--blanco-70) solid;
}

.hero__clusterinfo{
    padding: 2%;
    background-color: var(--gris-70);
    border: 5px var(--blanco-70) solid;
    font-size: 1.4em;
}

.hero__clusterinfo:hover{
    background-color: var(--blanco-70);
    color: var(--gris);
    border: 5px var(--gris) solid;
}

@media only screen and (max-width: 600px) {
.hero{
    padding: 5% 10% 0% 10%;
}
.hero__title{
    font-size: 1.4em;
}
}